*, *::before, *::after
  box-sizing: border-box

img
  max-width: 100%

html, body
  margin: 0
  padding: 0
  width: 100%
  height: 100vh
  overflow: hidden

body
  font-family: 'sarasa gothic sc', 'noto sans cjk sc', 'Microsoft YaHei', 'Microsoft Jhenghei', 'PingFang SC', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'Source Han Sans', 'Noto Sans CJK Sc', sans-serif

p, h1, h2, h3, h4, h5, h6
  margin: 0

h1, h2, h3, h4, h5, h6
  line-height: 1

input
  background-color: transparent
  border: none
  outline: none

ul
  padding: 0
  margin: 0
  list-style: none

a
  text-decoration: none
  color: inherit

.card
  padding: 14px
  background-color: #fff
  border-radius: 14px
  box-shadow: 0 1px 1px #0f0e0e0a

.top-bg
  transition: background-color 0.25s
  background-color: rgba(255, 255, 255, 0.058)

  &:hover
    background-color: rgba(255, 255, 255, 0.1)

.top-bg-noHover
  background-color: rgba(255, 255, 255, 0.058)

.module-title
  margin: 6px 0 10px
  font-size: 18px

.container
  overflow-y: auto

  &::-webkit-scrollbar
    width: 6px

  &::-webkit-scrollbar-thumb
    border-radius: 8px
    background: hsla(0, 0%, 50.2%, 0.58)

.radius_100
  border-radius: 100%

.primary-btn, .icon-btn
  background-color: #eb3f53
  cursor: pointer
  transition: all 0.25s
  color: #fff

  &:hover
    background-color: #da142b

.primary-btn
  padding: 4px 12px
  font-size: 14px
  border-radius: 10px

.icon-btn
  text-align: center
  border-radius: 50%
  width: 26px
  height: 26px
  line-height: 26px

.text-hidden
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap