@font-face
  font-family: 'iconfont'
  font-style: normal
  font-weight: 400
  font-display: block
  src: url('../font/fa-regular-400.woff2') format('woff2')

@font-face
  font-family: 'iconfont'
  font-style: normal
  font-weight: 900
  font-display: block
  src: url('../font/fa-solid-900.woff2') format('woff2')

[class^='i-'], [class*=' i-']
  font-style: normal
  font-family: 'iconfont' !important

.i-bell
  font-weight: 900

  &:before
    content: '\f0f3'

.i-set
  font-weight: 900

  &:before
    content: '\f013'

.i-minus:before
  content: '\f068'

.i-close
  font-weight: 900

  &:before
    content: '\f00d'

.i-search:before
  content: '\f002'

.i-headphones
  &:before
    content: '\f025'

.i-music
  font-weight: 400

  &:before
    content: '\f001'

.i-heart:before
  content: '\f004'

.i-shuffle:before
  content: '\f074'

.i-prev
  font-weight: 900

  &:before
    content: '\f048'

.i-next
  font-weight: 900

  &:before
    content: '\f051'

.i-play
  font-weight: 900

  &:before
    content: '\f04b'

.i-list:before
  content: '\f8c9'

.i-y
  font-weight: 900

  &:before
    content: '\59'

.i-q
  font-weight: 900

  &:before
    content: '\51'

.i-w
  font-weight: 900

  &:before
    content: '\57'

.i-g
  font-weight: 900

  &:before
    content: '\47'

.i-q
  font-weight: 900

  &:before
    content: '\51'

.i-m
  font-weight: 900

  &:before
    content: '\4d'

.i-clock:before
  content: '\f017'