@font-face
  font-family: 'iconfont'
  font-style: normal
  font-weight: 900
  font-display: block
  src: url('../font/fa-solid-900.woff2') format('woff2')

[class^='i-'], [class*=' i-']
  font-style: normal
  font-family: 'iconfont' !important

.i-bell:before
  content: '\f0f3'

.i-set:before
  content: '\f013'

.i-minus:before
  content: '\f068'

.i-close:before
  content: '\f00d'