@font-face
  font-family: 'bootstrap'
  src: url('bootstrap.woff2?t=524846017b983fc8ded9325d94ed40f3') format('woff2')
  font-display: swap

[class^='bt-'], [class*=' bt-']
  font-family: 'bootstrap' !important
  font-style: normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.bt-prev:before
  content: '\f563'

.bt-next:before
  content: '\f557'

.bt-play:before
  content: '\f4f4'