@font-face
  font-family: 'remixicon'
  src: url('remixicon.woff2?t=1590207869815') format('woff2')
  font-display: swap

[class^='ri-'], [class*=' ri-']
  font-family: 'remixicon' !important
  font-style: normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.ri-left, .ri-down
  font-size: 24px

.ri-refresh
  font-size: 18px

.ri-close
  font-size: 20px

.ri-headset
  font-size: 14px

.ri-play-circle.play-btn
  font-size: 26px

.ri-heart:before
  content: '\ee09'

.ri-left:before
  content: '\ea64'

.ri-refresh:before
  content: '\f064'

.ri-down:before
  content: '\ea4e'

.ri-close:before
  content: '\eb99'

.ri-explore:before
  content: '\ebc4'

.ri-headset:before
  content: '\ee05'

.ri-history:before
  content: '\f20f'

.ri-home:before
  content: '\ee2d'

.ri-music:before
  content: '\ef83'

.ri-folder:before
  content: '\ed74'

.ri-settings:before
  content: '\f0ee'

.ri-play-circle:before
  content: '\f008'

.ri-search:before
  content: '\f0cd'

.ri-download:before
  content: '\ec5a'

.ri-shuffle:before
  content: '\f124'

.ri-download:before
  content: '\ec5a'

.ri-play-list:before
  content: '\f00c'

.ri-volume-up:before
  content: '\f2a2'

.ri-more:before
  content: '\ef78'

.ri-play:before
  content: '\f00a'

.ri-prev:before
  content: '\f13f'

.ri-next:before
  content: '\f143'

.ri-more-line:before
  content: '\ef76'